<h1>View All LeBron Lakers Submissions</h1>

{{#each lakersPhotos as |photo|}}
    <ul id="homeList">
        <li><a href={{photo.url}}>{{photo.publisher}}</a> <a href="/photo/{{slug}}">details</a></li>
    </ul>
{{/each}}