<h2>Add new Player</h2>
<form method="POST" action="">
	<div>
		<label for="title">First Name:</label>
		<input type="text" id="firstname" name="firstname" value="">
	</div>
	<div>
		<label for="title">Last Name:</label>
		<input type="text" id="lastname" name="lastname" value="">
	</div>
	<input type="submit" value="Add">
</form>
