<h2>Add new LeBron video</h2>
<form method="POST" action="">
	<div class="contain">
	<div>
		<label for="title">Publisher:</label>
		<input type="text" id="publisher" name="publisher" value="">
	</div>
	<div>
		<label for="title">URL:</label>
		<input type="url" id="url" name="url" value="">
	</div>
	<div>
		<label for="title">Team:</label>
		<input type="text" id="team" name="team" value="">
	</div>
	<div>
		<label for="description">Description:</label>
		<textarea name="description" id="description"></textarea>
	</div><br>
	<input type="submit" value="Add">
	</div>
</form>